body{
    background-image: url('images/reseauBlanc.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    
}
#global {
	width:1280px;
	margin: 0px auto;
    
}


header{
    display: flex;
    /*background-image: url('images/web.jpg');
    background-repeat: repeat-y;background-size: cover;*/
    /*    background-color: whitesmoke; */  
    width: 100%;
       /* height: 520px;*/
    }


/* Menu */
.menu { 
	/*width: 1280px;*/
	height:50px;
    margin: 0;
    position: sticky;
    position: absolute;
    margin-bottom: 50px;
}

.menu ul {
    
    border: none;
    height: 50px;
    background-color: whitesmoke;
    padding :0px 75px;
    margin: 0 ;
    
}

.menu li {
	list-style-type:none;
	list-style-position:inside;
   
}
.menu ul .home {
    color: whitesmoke;
    background-color:#A90331;
    opacity: 0.9;
}
.home a {color: white;
    background-color: #A90331;
    opacity: 0.75;
    width: 160px;
}

.menu a {
	/*float:right;*/
	display:block;
	text-decoration: none;
	text-align:center;
	width: 160px;
	height:50px;
	line-height:50px;
	background-color: whitesmoke;
	color: #A90331;
	font-family: Arial,sans-serif;
	font-weight: bold;
	font-size: 1em;
    z-index: 50;
    border-bottom: #A90331 solid 2px;
    /*margin-bottom: 50px;*/
}

.menu a:hover {
	background-color:#A90331;
    color: white;
}

.menu a:active {color: black;
    background-color: #A90331;

}
        


/*Contenu */
main {
	width:1280px;
	text-align:center;
   padding-bottom: 0px;
    margin-bottom: 20px;
   /* background-color: transparent;/*/
   /*background-image: url('images/reseauBlanc.jpg');*/
    background-repeat: no-repeat;
    /*background-size: cover;*/
    background-position: center;
    align-items: center;
    
   
}

main p, main ul, main h2, main h3 {
    margin: 20px 30px;
	font-size:20px;
}


main h1 {
	margin: 101px 0;
	background-color: black;
	font-family: Arial,sans-serif;
	font-style: normal;
	font-size: 30px;
	color : white;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-bottom: black solid 1px;
    margin-bottom: 200px;}

.button {background-color: #A90331;
    /*top: 100px;*/
    cursor: pointer;
    width:150px;
    height: 50px;
    border-radius: 20px;
    float: right;
    color: whitesmoke;
    font-size: 20px;
    margin-top: -150px;
    z-index: index 5;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    
    

}
       

.entete {display: flex;
    text-align: center;
    width: 460px; height: auto;
    margin:  auto ;
    padding: 5px auto;
    margin-bottom: 100px;
}
.entete img {
    width: 400px; height: auto;
    /*opacity: 0.8; */
    padding: 30px 100px;
    border:#A90331 solid 5px;
    
}
    
table {
    margin-bottom: 100px;
    background-image: url('images/');
}

table td{
    border-right: #A90331 solid 1px;
    border-left: #A90331 solid 1px;
}

table p {
    text-align: justify; 
   margin: 20px
}
.gallerie{      
    display: grid;
    display: inline-block;
    width: 100%;
    height:auto;
    margin:  auto  100px;
    padding: auto 100px;
        
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: 1fr; 
    gap: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    
    
 

}
.grid-item{
    background-color: lightgrey;
    /*opacity: 0.75;*/
    width: 300px; height: 300px;
    overflow: hidden;
    float: left;
    gap: 10px;
    margin: auto  auto 100px ; padding: auto;
    border: 1px solid #A90331;
    justify-content: center;
    align-items: center;
    
}
.grid-item img{
    
    border: 2px solid rgb(20, 19, 19);
    padding: 5px;
    max-height: 350px;
}


.description {text-align: center;
        color: #A90331;
}

.liens {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: lightgray;
    opacity: 0.75;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    text-align: left;
    margin-bottom: 100px;


}
.liens a{
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    color: rgb(1, 1, 44);
    margin:40px;
    
}
.tuto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}
.tuto a{width: 300px; height:300px;
    background-color:hsla(200, 21%, 8%, 0.6)
    
}

.contact {
    width: 410px;
    margin: 40px auto;
    font-size: 20px;
    padding: 40px auto;
    /*border-bottom: solid 5px #A90331;*/
    
    background-color: hsla(200, 21%, 8%, 0.6);
    box-shadow: 0 5px 15px rgba(0,0,0,.75);
    border-radius: 20px;
  
}

.contact div label {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 200px;
    text-align: right;
    border-radius: 20px;
    color: rgb(4, 15, 78);
    
    
}

.contact input {
    height: 40px;
    width: 400px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: rgb(20, 28, 73);
    border-bottom: lightgray 3px;
    border-right: lightgray 3px;
    border-top: lightgray solid 0.5px;
    border-left: lightgray solid 0.5px;
    background-color: white ;
    opacity: 0.6;
}
.contact textarea {
    height: 400px;
    width: 400px;
    resize: none;
    border-radius: 10px;
    border-bottom: white solid 3px;
    border-right: white solid 3px;
    border-top: lightgray solid 1px;
    border-left: lightgray solid 1px;
    background-color: white;
    opacity: 0.5;
    color: rgb(1, 9, 54);
}
.contact textarea:hover{
    background-color: whitesmoke;
color: rgb(1, 1, 39);
opacity: 0.;}

.contact label[for="frm1_message"] {
    float: left;
}

.contact input[type="submit"] {
    height: 50px;
    width: 400px;
    margin-top: 30px;
    margin-left: auto;
    font-size: 20px;
    border-radius: 20px;
    color: #A90331;
    border: #A90331 solid 3px;
    background-color: white;
    border-spacing: ;   
    
}

.contact input[type="submit"]:hover{
    background-color:#A90331 ;
    color: white;
}
/**************footer*************/
.footer {display: block;
    clear: both;
    margin-bottom: 50px;
    position: relative;
    height: 200px;
    background-color: transparent; opacity: 0.75;
    text-align: right;
    box-shadow: 0 5px 15px rgba(0,0,0,.75);
}
.footer ul {
    
    display:flex;
    position: relative;
    background-color: rgb(2, 2, 153);
    height: 25px;
    top: 50px;
    text-align: right;
        
  }
  
  .footer ul li {
    list-style: none;
    text-align: right;
    
  }
  
  .footer ul li a {
    
    text-align:right;
    padding: 5px;
    margin: 5px;
    color:#A90331;
        
  }
  
  .footer ul li a:hover {
    box-shadow: 0 2px 5px rgba(243, 239, 239, 0.3);
    text-decoration:none;
  }
  
  






