body{
    background-image: url('images/reseauBlanc.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    
}
#global {
	width:1280px;
	margin: 0px auto;
    
}


header{
    display: flex;

    width: 100%;
     
    }


/* Menu */
.menu { 
	/*width: 1280px;*/
	height:50px;
    margin: 0;
    position: sticky;
    position: absolute;
    margin-bottom: 50px;
}

.menu ul {
    
    border: none;
    height: 50px;
    background-color: whitesmoke;
    padding :0px 75px;
    margin: 0 ;
    
}

.menu li {
	list-style-type:none;
	list-style-position:inside;
   
}
.menu ul .home {
    color: pink;
    background-color:#A90331;
    opacity: 0.9;
}
.menu .home a {
    background-color: #A90331;
    opacity: 0.75;
    width: 160px;
}

.menu a {
	/*float:right;*/
	display:block;
	text-decoration: none;
	text-align:center;
	width: 160px;
	height:50px;
	line-height:50px;
	background-color: whitesmoke;
	color: #A90331;
	font-family: Arial,sans-serif;
	font-weight: bold;
	font-size: 1em;
    z-index: 50;
    border-bottom: #A90331 solid 2px;
    /*margin-bottom: 50px;*/
}

.menu a:hover {
	background-color:#A90331;
    color: white;
}

.menu a:active {color: black;
    background-color: #A90331;

}
        


/*Contenu */
main {
	width: 90%;
	text-align:center;
    margin: auto;
    align-items: center;
    
   
}

main p, main ul {
    margin: 20px 30px;
	font-size:20px;
}


main h1 {
	margin: 101px 0;
	background-color: black;
	font-family: Arial,sans-serif;
	font-style: normal;
	font-size: 30px;
	color : white;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-bottom: black solid 1px;
    margin-bottom: 200px;
    
}

.button {background-color: #A90331;
    /*top: 100px;*/
    cursor: pointer;
    width:150px;
    height: 50px;
    border-radius: 20px;
    float: right;
    color: whitesmoke;
    font-size: 20px;
    margin-top: -150px;
    z-index: index 5;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    transition: all 0.3s ease;
     

}
  
.entete {display: flex;
    text-align: center;
    width: 460px; height: auto;
    margin:  auto ;
    padding: 5px auto;
    margin-bottom: 100px;
    
}
.entete img {
    width: 400px; height: auto;
    opacity: 0.8; 
    padding: 30px 100px;
    border:#A90331 solid 5px;
    
}
 main h2 {
     background-color: rgb(219, 198, 198);
     width: 400px;
     margin: auto;
     padding: auto;
     text-justify: center; font-size: 30px;
     /*color: rgb(1, 1, 44);*/ color: rgb(2, 2, 54);
     text-shadow: 0 5px 15px rgba(255, 255, 255, 0.75);
     box-shadow: 0 5px 15px rgba(242, 242, 245, 0.75);
     
 }
    
.service {
    display: grid;
    background-color: rgb(219, 198, 198);
    grid-template-columns: repeat(3, 1fr);
    /*gap: 10px white solid;*/
    margin-bottom: 100px;

}
.service .itemA{
    width:100px;
    height: 200px;
    text-align: center;
    border-left: 2px solid whitesmoke;

}
.lv{
    display: inline-block;

    border-left: 2px solid whitesmoke;
    height: 40px;
    
}
.gallerie{      
    display: grid;
    display: inline-block;
    width: 100%;
    height:auto;
    margin:  auto  100px;
    padding: auto 100px;
        
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr; 
    gap: 10px;
    
    
}
.grid-item{
    background-color:  rgb(219, 198, 198);
    width: 400px; height: 300px;
    overflow: hidden;
    float: left;
    gap: 15px;
    margin: auto  auto ; padding: auto;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    
}
.grid-item img{
    
   
    padding: 5px;
    max-height: 350px;
}


.description {text-align: center;
        color: #A90331;
}

.liens {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(219, 198, 198);
    opacity: 0.75;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    text-align: left;
    margin-bottom: 100px;
    


}
.liens a{
    text-decoration:none;
    display: inline-block;
    font-size: 30px;
    color: rgb(1, 1, 87);
    margin:40px;
    border-bottom: 1px solid whitesmoke;
    
}
.tuto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
   
    gap: 10px;
    background-color: rgb(219, 198, 198);
    color:rgb(1, 1, 87);
}
.tuto a{width: 100px; height:100px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    
}
.tuto p {
    font-size: 20px;
    color:rgb(4, 15, 78);
    text-align: justify;
}

.contact {
    width: 410px;
    margin: 40px auto;
    font-size: 20px;
    padding: 40px auto;
    /*border-bottom: solid 5px #A90331;*/
    
    background-color: hsla(200, 21%, 8%, 0.6);
    box-shadow: 0 5px 15px rgba(0,0,0,.75);
    border-radius: 20px;
  
}

.contact div label {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 200px;
    text-align: right;
    border-radius: 20px;
    color: rgb(4, 15, 78);
    
    
}

.contact input {
    height: 40px;
    width: 400px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: rgb(20, 28, 73);
    border-bottom: lightgray 3px;
    border-right: lightgray 3px;
    border-top: lightgray solid 0.5px;
    border-left: lightgray solid 0.5px;
    background-color: white ;
    opacity: 0.6;
}
.contact textarea {
    height: 400px;
    width: 400px;
    resize: none;
    border-radius: 10px;
    border-bottom: white solid 3px;
    border-right: white solid 3px;
    border-top: lightgray solid 1px;
    border-left: lightgray solid 1px;
    background-color: white;
    opacity: 0.5;
    color: rgb(1, 9, 54);
}
.contact textarea:hover{
    background-color: whitesmoke;
color: rgb(1, 1, 39);
opacity: 0.;}

.contact label[for="frm1_message"] {
    float: left;
}

.contact input[type="submit"] {
    height: 50px;
    width: 400px;
    margin-top: 30px;
    margin-left: auto;
    font-size: 20px;
    border-radius: 20px;
    color: #A90331;
    border: #A90331 solid 3px;
    background-color: white;
    border-spacing: ;   
    
}

.contact input[type="submit"]:hover{
    background-color:#A90331 ;
    color: white;
}
/**************footer*************/
.footer {display: block;
    clear: both;
    margin-bottom: 50px;
    position: relative;
    height: 200px;
    background-color: transparent; opacity: 0.75;
    text-align: right;
    box-shadow: 0 5px 15px rgba(0,0,0,.75);
}
.footer ul {
        
    top: 50px;
    text-align: right;
        
  }
  
  .footer li {
    list-style: none;
    text-align: right;
    display: inline-block;
    
  }
  
  .footer li a {
   display: block;
    text-align:right;
    padding: 5px;
    margin: 5px;
    color:#A90331;
    width:20px;
    box-shadow: 0 5px 15px rgba(0,0,0,.75);

        
  }
  
  .footer ul li a:hover {
    box-shadow: 0 2px 5px rgba(243, 239, 239, 0.3);
    text-decoration:none;
       
  }

  .footer p a {
      width: 100px;
      background-color: black;
      text-decoration: none;

  }

  .footer .button {
      float: right;
      width: 100px;
      height: 30px;
      margin-top: 30px;
      text-align: center;
      line-height: 30px;
  }
 
  @media screen and (max-width : 800px){
      #global {
          grid-template-columns: 1fr;
          grid-template-areas:
          "entete"
          "contenu";
      }
      .menu{
          overflow: hidden;
          

      }
      .menu a:not(:first-child), .dropdown .dropbtn {
        display: none;}
      .menu a {
          display: block;}
    
      .menu li a:hover {

      }
      
      
      main{
          width :100%
      }
      main h1 {
        width: 95%;
        position: absolute;
        margin-top: 50px;
      }

      .button {

      }
      .entete {
        
         
      }
      .service {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .gallerie {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .liens {grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-content: center;
        justify-items: center;
        margin: auto;
        padding : auto;
        width: 95%;

    }
    .liens a,p { text-align: center;
                 margin:auto;
                 justify-content: center;
                 align-items: center;

    }
    .tuto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-content: center;
        justify-items: center;
    }
    .footer{
        text-align: center;
        
    }

      
  }
  @media screen and (min-width:1281px) {
    #global {
        /* définition de la grille de mise en page */
        grid-template-columns: 1fr 4fr;
        grid-template-areas:
        "menu entete"
        "menu contenu";
    }
    
    .menu {
        margin-left: 20px;
        display:block;   
        background-color: whitesmoke;
        width: 200px;
    }

    .menu ul {
        
    }
        height:auto; 
    
        
        border:none;
       
    }
    
    .menu a {
        float:none;     
        padding: 0px ; 
    

  
  






