
#global {
	width:1280px;
	margin: 0px auto;
}


header{
    display: flex;
        background-color: whitesmoke;   
        width: 100%;
       /* height: 520px;*/
    }


/* Menu */
.menu { 
	/*width: 1280px;*/
	height:50px;
    margin: 0;
    position: sticky;
    position: absolute;
    margin-bottom: 50px;
}

.menu ul {
    
    border: none;
    height: 50px;
    background-color: whitesmoke;
    padding :0px 75px;
    margin: 0 ;
    
}

.menu li {
	list-style-type:none;
	list-style-position:inside;
   
}
.menu lu .home {
    color: black;
    background-color: chartreuse;
}
.menu ul .home a {color: black;
    background-color: #A90331;
}

.menu a {
	/*float:right;*/
	display:block;
	text-decoration: none;
	text-align:center;
	width: 160px;px;
	height:50px;
	line-height:50px;
	background-color: whitesmoke;
	color: #A90331;
	font-family: Arial,sans-serif;
	font-weight: bold;
	font-size:1em;
    z-index: 50;
    border-bottom: #A90331 solid 1px;
    /*margin-bottom: 50px;*/
}

/*.menu a:hover {
	background-color:#A90331;
    color: white;*/
}

.menu a:active {color: black;
    background-color: #A90331;

}
        


/*Contenu */
main {
	width:1280px;
	text-align:center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: whitesmoke;
   
}

main p, main ul, main h2, main h3 {
    margin: 20px 30px;
	font-size:20px;
}


main h1 {
	margin: 101px 0;
	background-color: black;
	font-family: Arial,sans-serif;
	font-style: normal;
	font-size:24px;
	color : white;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-bottom: black solid 1px;
    margin-bottom: 300px;
       
}
.entete {
    text-align: center;
    /*opacity: ;*/
    background-color: #A90331;
    width: 50%;
    margin: 200px auto ;
    padding: auto;
}
.entete img {width:50%;
border: #A90331 solid 20px;}
table {
    margin-bottom: 100px;
}

table td{
    border-right: #A90331 solid 1px;
    border-left: #A90331 solid 1px;
}

table p {
    text-align: justify; 
   margin: 20px
}
gallerie{      
    display: grid;
    display: inline-block;
    width: 100%;
    height:auto;
    margin:  auto;
    padding: auto;
        
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: 1fr; 
    gap: 10px;
    text-align: center;
    align-items: center;
    
 

}
.grid-item{
    background-color: wheat;
    width: 300px; height: 300px;
    overflow: hidden;
    float: left;
    gap: 10px;
    margin: auto 0 auto 50px; padding: auto;
    border: 1px solid #A90331;
    
}
/*.grid-item img{
    
    border: 2px solid rgb(20, 19, 19);
    padding: 5px;
    max-height: 350px;
}*/


.description {text-align: center;
        color: #A90331;
}
.contact {
    width: 620px;
    margin: 50px auto;
    font-size: 20px;
    padding: 50px auto;
    border-bottom: solid 5px #A90331;
}

.contact div label {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 200px;
    text-align: right;
}

.contact input {
    height: 30px;
    width: 400px;
    margin-bottom: 5px;
}

.contact textarea {
    height: 400px;
    width: 400px;
    resize: none;
}

.contact label[for="frm1_message"] {
    float: left;
}

.contact input[type="submit"] {
    height: 50px;
    width: 300px;
    margin-top: 30px;
    margin-left: 200px;
    font-size: 20px;
    border-radius: 20px;
}


aside, .entete {
    width:150px;
    height: 200px;
   background-color: #A90331;
   
}


.entete aside a {
	text-decoration:none;
	color:whitesmoke;
    background-color: #A90331;
    width: 150px;
    height: 200px;
}



